# Advent of SQL

In [ ]:
import pandas as pd
from dotenv import load_dotenv
import os

In [3]:
# Load environment variables from the .env file
load_dotenv()

# Fetch the username and password
username = os.getenv('PG_USERNAME')
pwd = os.getenv('PG_PASSWORD')

In [ ]:
%load_ext sql

# Connecting to db
%sql postgresql://{username}:{pwd}@localhost:5432/santa_workshop

# Fixing 'pretty-table' bug
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### <b>Day 1:</b> Santa's Gift Lists Parser
- JSON, CASE, JOINS

In [ ]:
%%sql

SELECT name,
    wishes->>'first_choice' as primary_wish,
    wishes->>'second_choice' as backup_wish,
    (wishes->'colors'->>0) AS favorite_color,
    json_array_length(wishes::json->'colors') as color_count,
    CASE 
        WHEN difficulty_to_make = 1 THEN 'Simple Gift'
        WHEN difficulty_to_make = 2 THEN 'Moderate Gift'
        WHEN difficulty_to_make >= 3 THEN 'Complex Gift'
    END AS gift_complexity,
    CASE 
        WHEN category = 'outdoor' THEN 'Outside Workshop'
        WHEN category = 'educational' THEN 'Learning Workshop'
        ELSE 'General Workshop'
    END AS workshop_assignment
from 
    wish_lists
    INNER JOIN children
    ON wish_lists.child_id = children.child_id
    LEFT JOIN toy_catalogue 
    ON wish_lists.wishes->>'first_choice' = toy_catalogue.toy_name
ORDER BY 
    name ASC
LIMIT 5;

 * postgresql://tovat:***@localhost:5432/santa_workshop
5 rows affected.

[('Abagail', 'Building sets', 'LEGO blocks', 'Blue', 1, 'Complex Gift', 'Learning Workshop'),
 ('Abbey', 'Stuffed animals', 'Teddy bears', 'White', 4, 'Complex Gift', 'General Workshop'),
 ('Abbey', 'Toy trains', 'Toy trains', 'Pink', 2, 'Complex Gift', 'General Workshop'),
 ('Abbey', 'Barbie dolls', 'Play-Doh', 'Purple', 1, 'Moderate Gift', 'General Workshop'),
 ('Abbey', 'Yo-yos', 'Building blocks', 'Blue', 5, 'Simple Gift', 'General Workshop')]

### <b>Day 2:</b> Santa's Jumbled Letters
- UNION, CTE, ASCII, STRING_AGG (function to concatenate strings and place a sep between them)

In [54]:
%%sql

SELECT string_agg(character, '')
from (
  SELECT chr(value) as character from letters_a
  UNION ALL
  SELECT chr(value) from letters_b
) subquery
WHERE subquery.character ~* '[a-zA-Z\s!?,.;:()-]';

 * postgresql://tovat:***@localhost:5432/santa_workshop
1 rows affected.

[('Dear Santa, I hope this letter finds you well in the North Pole! I want a SQL course for Christmas!\n',)]